@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center">
    <a asp-controller="Vendors" asp-action="Index">Vendor table</a>
    <a asp-controller="BikeTypes" asp-action="Index">Bike type table</a>
    <a asp-controller="Bikes" asp-action="Index">Bike table</a>
</div>
